body {
    background-image: url("./images/background.png");
    background-color: rgb(148, 67, 98);
    background-position: center 25vh;
    background-repeat: repeat;
    font-family: ‘Amatic SC’, cursive;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    
}

.container {
    padding: 30px 0;
}

h3 {
    font-size: 70px;
    font-weight: 700;
    margin: 0;
}

.text-center {
    line-height: 90px;
}

#js-newGameButton {
    font-size: 50px;
   font-weight: 700;
   background: rgb(168, 63, 86);
   font-style: inherit;
   text-emphasis:color;
   
}

#js-newGameElement > .row {
    margin: 0;
}

#js-playerPick_rock,
#js-playerPick_paper,
#js-playerPick_scissors {
    font-size: 50px;
   font-weight: 700;
   margin: 10px 60px;
   border-radius: 50%;
}

.badge {
    font-size: 50px;
    background-color: transparent;
}


.btnRock {
    background-color: rgb(147, 156, 16);
}

.btnPaper {
    background-color: rgb(30, 182, 124);
}

.btnScissors {
    background-color: rgba(216, 207, 85, 0.918);
}


@media (max-width: 1366px) {
    
    body {
        font-size: 35px;
        background-position: center 5vh;
    }

    .container {
        padding: 12px 0;
    }

    h3 {
        font-size: 50px;
    }

    .text-center {
        line-height: 80px;
    }

    #js-playerPick_rock,
    #js-playerPick_paper,
    #js-playerPick_scissors {
        font-size: 50px;
        margin: 0 25px;
    }
}


@media (max-width: 768px) {
    
    body {
        background:rgb(16, 162, 167);
        background-position: center 15vh;
        font-size: 25px;
    }
    
    #js-playerPick_rock,
    #js-playerPick_paper,
    #js-playerPick_scissors {
        margin: 0;
}
}

@media (max-width: 320px) {
    body {
        background: hsl(197, 24%, 57%);
        background-position: center 7vh;
        font-size: 12px;
    }
    #js-playerPick_rock,
    #js-player-Pick_paper,
    #js-playerPick_scissors{
        margin: -0;
    }
}